:root{
    --dark-purple:#301934;
    --orange:#FF7722;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none!important;
}
.websiteHeroName{
    color: var(--dark-purple);
    text-transform: uppercase;
    text-align: center;
}
.socLinks{
    width: 25px;
    height: 25px;
    margin: 0 5px;
    transition: transform .4s; /* Animation */
}
.socLinks:hover{
    transform: scale(1.1);
}
.section{
    margin: 10px 0;
}
.logo{
    height: auto;
    max-width:140px;
}
.SearchBox{
    padding: 1px 6px;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 4px;
    color: var(--dark-purple);
    /* font-weight: bold; */
}
.SearchBox::placeholder {
      color: var(--orange);
    opacity: 1; /* Firefox */
  }
  
  .SearchBox:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--orange);

  }
  
 .SearchBox ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--orange);

  }
.owl-dots{
    position: relative;
    top: -60px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background-color:var(--orange)!important;
}
.PhotoBox{
    padding: 5px;
    border-radius: 7px;
    /* box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1); */
}
.PhotoBox img{
    max-width: 100%;
    height: auto;
}
.textBox{
    /* padding: 5px; */
    border: 1px solid var(--dark-purple);
    height: 100%;
    margin-bottom: 10px;
}
.heading{
    text-align: center;
    background-color: var(--dark-purple);
    color: var(--orange);
    font-size: 20px;
    width: 100%;
    padding: 6px 0;
}
.textOfBox{
    padding: 0px 16px;
    font-size: 16px;
}
.list{
    margin-left: 35px;
}
.list li{
    font-size: 16px; 
}
.footer{
    background-color: var(--orange);
    margin-bottom: 0;
}

.topNav{
    background-color: var(--orange);
}
.secondNav{
    background-color: var(--dark-purple);
}
.ctText h4, .ctText h5{
color: var(--orange);
}
.purple{
    color: var(--dark-purple)!important;
}
.purpleAnchor{
    color: var(--dark-purple)!important;
    font-weight: bold;
}
.ctText h5{
    font-size: 14px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:375px){
    .websiteHeroName{
        font-size: 28px;
    }
    .ctText h5{
        font-size: 16px;
    }
}